<!DOCTYPE html>
<html lang="zh-ch">
	{% include "head.html" %}

	<body>

		<div class="nn-boxs max-box">

			<div class="nn-left">
				<div class="img">
					<img src="./images/404.png" />
				</div>
				<div class="text">
					<p>发生了一点小错误~</p>
					<p>您要查看的页面不存在或已经被删除了 :(</p>
				</div>
				<div class="text2">
					<p>您可以选择返回主页</p>
					<p>如果不能解决您的问题，请拨打客服热线 18620937000</p>
				</div>
				<div class="back-button">
					<a href="/"><span>返回首页</span></a>
				</div>
			</div>

			<div class="nn-right">
				<div class="img">
					<img src="./images/404-2.png" />
				</div>
			</div>

		</div>

	</body>

</html>