<div class="about-join">

	<div class="about-join-li">
		<div class="title">
			<span>我们的优势</span>
		</div>
		<div class="text">
			<p>减少商家获取流量的难题，利用平台推“设计师”为特点能帮助商家零成本加大宣传力度从而获取更多销量。</p>
			<p style="height: 0.2em;"></p>
			<p>精准定位，抢占更细分市场。商家可以将自身特点（风格、信息）上传至平台，精准定位，可以把商家快速推送，展示给用户，从而获得更多的精准粉丝。</p>
		</div>
	</div>

	<div class="about-join-li">
		<div class="title">
			<span>现在入驻平台还有以下福利</span>
		</div>
		<div class="text">
			<p>获得内测资格，免年费同时还可以获得抢占官方上线的首批流量。</p>
			<p>获得APP封面广告位、活动轮播界面广告位等免费曝光。</p>
		</div>
	</div>

	<div class="about-join-li">
		<div class="title">
			<span>入驻步骤</span>
		</div>
		<div class="text2">
			<p><span>发起申请，提交入驻资料，选择身份、风格<br>填写企业信息，店铺命名，提交审核。</span></p>
			<div class="hr"></div>
			<p><span>审核通过后完善店铺信息，设置店铺风格</span></p>
			<div class="hr"></div>
			<p><span>店铺上线，上架商品，开始运营。</span></p>
		</div>
	</div>

</div>