<div class="about-values">
    <div class="text">

        <p class="ring">
            我，戒指，以前做过房地产，搞过营销，开过年销售过亿的淘宝女装 ，弄过摄影公社，一直磕磕碰碰的走过来，赚过大钱，尝过低谷时的滋味。在大学毕业那年，我万万没想到自己会做一个电商平台，更没想到自己会做一个原创品牌的捍卫者。
        </p>

        <p class="yi">
            但是今天我想说的不是自己，我想说的是今天故事的主角&nbsp;<b>异</b>
        </p>

        <div class="title">
            <p>‘异’的起源</p>
        </div>

        <p class="titleb">ORIGIN</p>

        <p>“异”的起源跟一个人有很大的关系。阿玲，我的太太。她是服装设计师，做设计十多年，在广州行业算是比较资深也稍微在圈内有点名气了。</p>

        <p>异平台的灵感就源于一次设计师聚会。设计师朋友中有的在公司打工，也有自己创业的，期间大家聊到原创品牌相关话题，大家都说做原创太难，不是难在设计或是难在创意，而是难在原创出来的设计很快就被抄袭、被仿造，反而卖得比原创本身还好，而普通的网红店几乎没有一家原创，都是买一些原版回来稍作修改就卖得很火.更无奈的是，在国内大部分服装设计师都被困在一个怪圈内，就是想做自己的原创款，但是公司不予采纳，反而只需去网上抄抄改改就是“新款”，只要赶着“潮流”卖个好销量就行……</p>

        <p>现在中国的服装市场几乎填满了欧美、日韩潮款（仿改版），很多有才华的设计师在公司被迫做着各种抄改的“设计”，而我身边的朋友常常抱怨买不到特别的款式，满大街都是同款、潮款、人手一件……</p>

        <p>国内原创服装设计师的遇到的问题集中在两个点上。一是偷、抄、改，产品同质化很严重，没有内涵。二是不懂如何打造专属自己的品牌，不懂得包装自身。</p>

        <p>我深知商业是需要包装的，设计师过得太苦逼了。</p>

        <p>所以为了改变国内市场乱象，打造原创设计师的良性发展社群，于是异平台就顺势而生了。</p>

        <div class="title">

            <p>‘异’的发展</p>

        </div>

        <p class="titleb">DEVELOPMENT</p>

        <p>随着产品理念的不断成熟，也随着我个人对服装行业的了解，异平台已经从一开始的推广“原创”的价值，进化到注重“如何帮助原创设计实现盈利”的角度。</p>

        <p>随着产品理念的不断成熟，也随着我个人对服装行业的了解，异平台已经从一开始的推广“原创”的价值，进化到注重“如何帮助原创设计实现盈利”的角度。</p>

        <p>“异”的特点是有出色的社交板块和完整内容推荐体系。依靠社交板块内的帖子、直播功能可以全方位的展示设计师的风采和设计。</p>

        <p>完整的内容推荐体系可以让你在分享和获得用户认可之余获得更多由系统推荐带来的流量，比如首页的推荐卡片位置，各种活动的板块广告页以及首页，真正做到0成本营销。</p>

        <p>我们一直认为，仅仅靠好的设计、好的衣服还是不能让人们真正的为你疯狂，因为不可能仅靠一套设计就可以在市场上吃“一辈子”，人们的喜爱是随着潮流变化的。所以原创设计师才是如此重要的，所以我们才会一直追求把设计师推到前面来，只有真的内涵，才能让别人喜欢上你，追随你。虽然只做原创这样的事情很苦逼，但是我们一直坚持在做。</p>

        <p>公司发展到今天，如果用4个字总结一下，就是：如履薄冰。</p>

        <p>创业真的不是一件简单的事情，任何一个地方出问题都能让一个年轻的业务夭折。所以“异”需要大家的支持才能越走越远。我们能做的，也只有抵制抄袭，支持原创。希望出色的你，不会被埋没。</p>
    </div>

</div>