<!DOCTYPE html>
<html lang="zh-ch">
{% include "head.html" %}

<body>

    {% include "header.html" %}

    <div class="main-box download-boxs">

        <div class="download-box max-box">

            <div class="logo">
                <img src="./images/dowm-1.png" />
            </div>

            <div class="text">
                <img src="./images/dowm-2.png" />
            </div>

            <div class="ewm">
                <img src="./images/dowm-ewm.png" />
            </div>
            <div class="app-button ios">
                <a target="_blank" href="https://itunes.apple.com/cn/app/%E5%BC%82%E5%8E%9F%E5%88%9B/id1345857458?mt=8"><span>iPhone版下载</span></a>
            </div>
            <div class="app-button android">
                <a target="_blank" href="https://www.pgyer.com/4y3p"><span>Android版下载</span></a>
            </div>
        </div>

    </div>

    {% include "footer.html" %}

</body>

</html>