<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit" />
	<meta name="author" content="">
	<title>{{data.mTitle}}{% if active == 'details' %}{{data.title}}{% endif %}</title>
	<meta name="keywords" content="{{data.mKeywords}}{% if active == 'details' %}{{data.edit}}{% endif %}">
	<meta name="description" content="{{data.mDescription}}{% if active == 'details' %}{{data.info}}{% endif %}">
	<link rel="stylesheet" type="text/css" href="./style/jquery.mCustomScrollbar.css"/>
	<link rel="stylesheet" type="text/css" href="./style/main.css" />
	<link rel="stylesheet" type="text/css" href="./style/demo.css" />
	<link rel="stylesheet" type="text/css" href="./style/media.css" />
	<link rel="stylesheet" type="text/css" href="./style/edit.css" />
	<link rel="stylesheet" type="text/css" href="./style/jquery.bxslider.css" />
	<!--[if lt 9]>
      		<script src="/script/html5shiv.js"></script>
      		<script src="/script/respond.min.js"></script>
      		<link rel="stylesheet" type="text/css" href="./style/ie.css" />
    <![endif]-->
</head>